{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/welcome_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_about.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_certificates.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_contacts.css' %}">
</head>
<body>


    <nav class="navbar">
        <div class="navbar-container">
            <button class="navbar-toggle" aria-label="Toggle navigation">
                ☰
            </button>
            <ul class="navbar-nav">
                <li><a href="#hello">Hello</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#certificates">Certificates</a></li>
                <li><a href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </nav>


    <section id="hello">
    <div class="hello-section">
        <h2>Hello, my name is Zdravko</h2>
    </div>
    </section>


    <section id="about">
    <div class="about-container">
        <img src="{% static 'images/profile.jpg' %}" alt="Your Image" class="hello-image">
        <div class="hello-description">
            <p id="typewriter-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to
                make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    </section>


    <section id="skills">
    <h2>Here is my skills stack</h2>
    <div class="skills-container">
        <div class="key-skills">
            <h3>Key Skills</h3>
            <ul>
                {% for skill in key_skills %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="tech-skills">
            <h3>Technical Skills</h3>
            <ul>
                {% for skill in tech_skills %}
                    <div class="skills">
                        <div class="skill">
                            <span>{{ skill.name }}</span>
                            <div class="progress-bar-container">
                                <div class="progress-bar" style="width: {{ skill.proficiency }}%;"></div>
                                <span class="percentage">{{ skill.proficiency }}%</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    </section>


    <section id="certificates">
    <h2>My education</h2>
    <div class="certificate-description">
        <p>
            I have a strong educational background that has equipped me with the necessary skills and knowledge
            to excel in my field. Here are some of the notable qualifications I have achieved:
        </p>
        <ul>
            <li>Bachelor of Science in Computer Science - University Name (Year)</li>
            <li>Full Stack Web Development Certification - Institution Name (Year)</li>
            <li>Data Science Bootcamp - Institution Name (Year)</li>
        </ul>
    </div>
    </section>


    <section id="contacts">
    <div class="contact-form">
        {% if email_sent %}
            <div class="success-message">
                <h3>Thank you!</h3>
                <p>Your email has been sent successfully!</p>
            </div>
        {% endif %}
        <h2>Get In Touch</h2>
        <form method="POST" class="contact-form-fields">
            {% csrf_token %}

            <div class="row">
                <div class="field-container">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="field-container">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
            </div>
            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="6" required></textarea>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="link">
        {% for link in social_media %}
            <a href="{{ link.social_media_link }}" target="_blank">
                <img src="{% static link.icon_path %}" alt="{{ link.social_media_name }}">
            </a>
            {% if not forloop.last %}|{% endif %}
        {% endfor %}
    </div>
    </section>

    <script src="{% static 'js/about.js' %}"></script>
    <script src="{% static 'js/skills_bars.js' %}"></script>
    <script src="{% static 'js/toggle_navbar.js' %}"></script>

</body>
</html>
