{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'css/navigation_bar.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_hello.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_skills.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_education.css' %}">
    <link rel="stylesheet" href="{% static 'css/section_links.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact_form.css' %}">
    <link rel="stylesheet" href="{% static 'css/code_box.css' %}">
    <style>
        html {
            scroll-behavior: smooth;
        }
        body {
            background: #e3e3e3;
            color: #000000;
            font-family: fantasy;
            margin: 0;
            padding-top: 60px;
            {#overflow: hidden;#}
        }
        section {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            box-sizing: border-box;
            text-align: center;
            border-top: 5px solid #0682e4;
            padding-top: 20px;
            margin-top: 30px;
            padding-bottom: 20px;

        }
        #skills, #education, #links, #contact-form {
            padding: 20px;
        }
        .welcome-header {
            color: #000000;
            font-family: "Courier New", Courier, monospace;
            font-size: 2em;
            text-align: center;
            margin-top: 20px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <script src="{% static 'js/hello.js' %}"></script>
    <header class="welcome-header">
        <h1>Welcome to my portfolio</h1>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li><a href="#hello" id="hello-button" class="blinking">Hello</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#links">Links</a></li>
            <li><a href="#contact-form">Contact Form</a></li>
        </ul>
    </nav>


    <section class="code-section">
    <div class="code-display">
        <button class="nav-button" id="prev-button">&lt;</button>
        <div class="code-box">
            <h3 id="code-title"></h3>
            <pre><code id="code-snippet"></code></pre>
        </div>
        <button class="nav-button" id="next-button">&gt;</button>
    </div>
    </section>
    <script src="{% static 'js/code_box.js' %}"></script>


    <section id="hello">
    <div class="hello-container">
        <img src="{% static 'images/profile.png' %}" alt="Your Image" class="hello-image">
        <div class="hello-description">
            <h2>Hello</h2>
            <p id="typewriter-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to
                make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged.
                It was popularised in the 1960s with the release of Letraset sheets containing
                Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
    </div>
    </section>


    <section id="skills">
    <h2>Skills</h2>
    <div class="skills-container">
        <div class="key-skills">
            <h3>Key Skills</h3>
            <ul>
                {% for skill in key_skills %}
                    <li>{{ skill.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="tech-skills">
            <h3>Technical Skills</h3>
            <ul>
                {% for skill in tech_skills %}
                    <div class="skills">
                        <div class="skill">
                            <span>{{ skill.name }}</span>
                            <div class="progress-bar-container">
                                <div class="progress-bar" style="width: {{ skill.proficiency }}%;"></div>
                                <span class="percentage">{{ skill.proficiency }}%</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </div>
    </div>
    </section>


    <section id="education">
    <h2>Education</h2>
    <div class="education-description">
        <p>
            I have a strong educational background that has equipped me with the necessary skills and knowledge
            to excel in my field. Here are some of the notable qualifications I have achieved:
        </p>
        <ul>
            <li>Bachelor of Science in Computer Science - University Name (Year)</li>
            <li>Full Stack Web Development Certification - Institution Name (Year)</li>
            <li>Data Science Bootcamp - Institution Name (Year)</li>
        </ul>
    </div>
    </section>

    <section id="links">
    <h2>Connect with Me</h2>
    <p>
        <a href="https://www.linkedin.com/in/zdravko-galchov-b2354b333/" target="_blank">LinkedIn</a> |
        <a href="https://github.com/Galchov" target="_blank">GitHub</a>
    </p>
    </section>


    <section id="contact-form">
        {% if email_sent %}
            <div class="success-message">
                <h2>Thank you, {{ sender_name }}!</h2>
                <p>Your email has been sent successfully!</p>
            </div>
        {% endif %}
        <h2>Get In Touch</h2>
        <form method="POST" class="contact-form">
            {% csrf_token %}

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="4" required></textarea>

            <button type="submit">Submit</button>
        </form>
    </section>


    {# Creating blinking effect for the 'Hello' button #}
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const helloButton = document.getElementById("hello-button");

        helloButton.addEventListener("click", function() {
            helloButton.classList.remove("blinking");
        });
    });
    </script>


    {# Loading the progress bars of Technical Skills on page reload #}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const progressBars = document.querySelectorAll(".progress-bar");
            progressBars.forEach((bar) => {
                const width = bar.style.width;
                bar.style.width = "0";
                setTimeout(() => {
                    bar.style.width = width;
                }, 100);
            });
        });
    </script>

</body>
</html>
