html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
    color: #f0f0f0;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}

section {
    height: calc(100vh - var(--navbar-height));
    padding-top: var(--navbar-height);
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: calc(100vh - var(--navbar-height));
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 5px solid blue;
}

h2, h3 {
    margin: 0.5em 0;
    font-weight: normal;
}

h2 {
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 1.8em;
}

#hello {
    background-color: #1c1c1c;
}

#about {
    background-color: #2c2c2c;
}

#skills {
    background-color: #1c1c1c;
}

#certificates {
    background-color: #2c2c2c;
}

#contacts {
    background-color: #1c1c1c;
}

/* Tablets / Large Tablets */
@media (min-width: 769px) {
}

/* Laptops and Desktops */
@media (min-width: 1025px) {
}