/* Position (Remains on top of the screen at all times) */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 60%;
    margin: 0 auto;
    display: flex; /* Ensure horizontal alignment */
    justify-content: space-around; /* Space out the buttons evenly */
    padding: 10px 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
    border-radius: 15px; /* Rounded the corners */

    background-color: #0682e4;
    border: 2px solid #ffffff;
}

/* Navbar buttons arrangement */
.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Navbar buttons style */
.navbar-nav a {
    font-family: fantasy;
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 20px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    color: #ffffff;
}

.navbar-nav a:hover {
    border-radius: 5px;
    background-color: #ffffff;
    color: #1a1a1a;
}

/* Blinking effect for the 'Hello' button */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.blinking {
    animation: blink 1s infinite;
}
