/*!* Position (Remains on top of the screen at all times) *!*/
.navbar {
    width: 100%;
    position: fixed;
    display: flex;
    top: 0;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    background-color: #1b1b1b;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

/*!* Navbar buttons arrangement *!*/
.navbar-nav {
    list-style-type: none;
    padding: 5px;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

/*!* Navbar buttons style *!*/
.navbar-nav a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0 20px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    font-family: fantasy;
    display: inline-block;
    color: #ffffff;
}

.navbar-nav a:hover {
    border-radius: 5px;
    background-color: #ffffff;
    color: #1a1a1a;
}

/* Medium Devices - Tablets/Smaller Laptops */
@media (max-width: 1024px) {
    .navbar {
        background-color: purple;
    }
}

/* Small Devices - Smartphones/Tablets */
@media (max-width: 768px){
    .navbar {
        background-color: green;
    }
}

/* Extra Small Devices - Smartphones */
@media (max-width: 576px) {
    .navbar {
        background-color: crimson;
    }
}