.skills-section {
    margin-top: 80px;
    padding: 20px;
    background-color: #1a1a1a;
    border: 2px solid #00FF00;
    color: #00FF00;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.key-skills {
    width: 100%;
    margin-right: 70px;
}

.key-skills h3 {
    border-bottom: 1px solid #00FF00;
    padding-bottom: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.key-skills ul {
    list-style-type: none;
    padding: 0;
}

.key-skills li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #00FF00;
}

.tech-skills {
    width: 100%;
    margin-left: 70px;
}

.tech-skills h3 {
    border-bottom: 1px solid #00FF00;
    padding-bottom: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.tech-skills ul {
    list-style-type: none;
    padding: 0;
}

.tech-skills li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #00FF00;
}
