.skills-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.key-skills {
    width: 100%;
    margin-right: 70px;
    margin-left: 70px;
}

.key-skills h3 {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.key-skills ul {
    list-style-type: none;
    padding: 0;
}

.key-skills li {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #000000;
}


.tech-skills {
    width: 100%;
    margin-left: 70px;
    margin-right: 70px;
}

.tech-skills h3 {
    border-bottom: 1px solid #000000;
    padding-bottom: 10px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.tech-skills ul {
    list-style-type: none;
    padding: 0;
}

.tech-skills li {
    margin: 5px 0;
    padding: 5px;
    border: none;
    background: none;
}


.skills .progress-bar-container {
    position: relative; /* Enables absolute positioning for child elements */
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #949494;
    border-radius: 5px;
    overflow: hidden; /* Ensure no content spills outside the rounded edges */
    height: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.skills .progress-bar {
    height: 100%;
    background-color: #0682e4;
    transition: width 1s ease-in-out; /* Smooth animation for loading */
    position: relative; /* Keeps the bar content inside its bounds */
}

.skills .percentage {
    position: absolute; /* Position the percentage relative to the container */
    right: 10px;
    color: #000000;
    font-size: 0.9rem;
    white-space: nowrap; /* Prevents wrapping of text */
    z-index: 1; /* Ensures it stays on top of the progress bar */
}
